@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  background: #00bf72;
  background: linear-gradient(
    45deg,
    #051937 0,
    #004d7a 40%,
    #008793 70%,
    #00bf72 100%
  );
}

.title {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
