@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  background: rgb(15, 227, 111);
  background: linear-gradient(
    45deg,
    rgba(15, 227, 111, 1) 30%,
    rgba(3, 140, 223, 1) 70%
  );
}

.title {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
