@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/fonts/RobotoMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url('./assets/fonts/Nexa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: #00bf72;
  background: linear-gradient(
    45deg,
    #051937 0,
    #004d7a 40%,
    #008793 70%,
    #00bf72 100%
  );
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.caret-blink {
  animation: blink 1s step-start infinite;
  opacity: 0;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
